@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin: 0;
  font-family: 'Cabin', sans-serif;
  /* font-family: 'Martian Mono', monospace; */
  /* font-family: 'Quicksand', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 @keyframes fadeInAnimation {
   0% {
     opacity: 0;
   }

   100% {
     opacity: 1;
   }
 }
.main-bg{
  position: absolute;
  top: 0px;
  background-image: url(../src/assets/wallpaper06.jpeg);
  left: 0px;
  height: 740px;
  width: 100%;
  background-size: cover;
} 
header{
  position:relative;
  top: 2px;
  z-index: 1;
}
#nav-row{
  width: 97%;
  margin-left: 20px;
}
/* hoverable nav */
.menu,
.drop-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.drop-menu {
  display: none;
  position: absolute;
  background-color: transparent;
  /* transition-property: opacity, transform, top;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s; */
  transition: all 0.5s ease-in-out;
  min-width: 200px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  border: 1px solid white;
  margin-top: 0px;
}

.drop-menu-item {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.drop-menu-item:hover {
  background-color: #f3f2ee;
  /* transition: all 1s ease-in; */
}

.drop-menu-item a {
  color: white;
  font-weight: 100;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}
.drop-menu-item a:hover{
  color: #000000;
}
.menu-item:hover{
  transition: all 0.5s ease-in-out;
}
.menu-item-ordinary:hover{
  text-decoration: underline;
  text-underline-offset: 10px;
}
.menu-item:hover .drop-menu {
  transition: all .5s ease-in;
  display: block;

}

/* end */
#search-bar {
  width: 300px;
}
#search-outer{
  left: 50px;
}

#search-bar-inner {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid white;
}
#search-bar-inner::placeholder {
  font-weight: 100;
  opacity: 0.8;
  color: white;
}
.site-container {
  /* min-height: 100vh; */
}
#supreme-logo{
  height: 85px;
  width: 85px;
  position: relative;
  bottom: 20px
}
#banner-captions{
  margin: auto;  
  margin-top: 200px;
  height: 270px;
  width: 80%;
}
#main-heading{

}
#main-heading p{
  font-size: 20px;
}
#main-heading h1{
  font-size: 68px;
  font-weight: 700;
  margin-bottom: 20px;
}
#csc{
  color: rgb(207, 207, 99);;
}
#main-heading h2 {
  font-size: 20px;
  font-weight: 100;
}
#banner-button-container{
  margin-top: 30px;
  width: 200px;
}
#banner-button{
  height: 50px;
  background-color: rgb(185, 185, 85);
  border: 1px solid rgb(245, 245, 18);
  color: black;
  width: 100%;
}

/* button */
.btn {
  padding-top: 12px;
  height: 50px;
  width: 100%;
  text-decoration: none;
  position: relative;
  border: 1px solid white;
  z-index: 20;
  transition: all 0.35s cubic-bezier(1,
    0,
    0,
    1);
}

.btn:hover {
  color: white;
    }

.btn-color {
  border-color: rgb(243, 243, 40);
  color: black;
  background-color: rgb(185, 185, 85);
  }
  .btn-color::before{
    background: rgb(243, 243, 40);
    }
  .btn-color::after {
    background: rgb(163, 163, 124);
    }

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.35s cubic-bezier(1,
    1,
    1,
    1);
  }

.btn-l-r::after {
  height: 100%;
  width: 0;
  top: 0;
    }

.btn-l-r:hover::after {
  width: 100%;
  }

.btn-l-r::after {
  left: 0;
    }

.btnFillup {
  display: inline-block;
  padding: 16px;
  overflow: hidden;
  color: rgb(133, 133, 66);
  text-decoration: none;
  border: 1px solid rgb(243, 243, 40);
  border-radius: 3px;
  background-position: 0 -100%;
  background-repeat: repeat-x;
  transition: background-position 0.8s ease;
}

.btnFillup:hover {
  background-position: 100% 50%;
  border-color: rgb(133, 133, 66);
  color: white;
}

#banner-button :hover{
  background-color: transparent;
}

/* end of button */
#about-us-main{
  position: relative;
  top: 650px;
  min-height: 200px;
  width: 100%;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#about-us-main p{
  font-size: 32px;
  /* font-weight: 300; */
}
#about-span{
  color: rgb(180, 180, 47);
  font-weight: 600;
}
.risk-analysis{
  color: rgb(180, 180, 47);
}
.about-us-inner{
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
.about-us-inner h1{
  font-weight: 500;
}
.about-us-inner h6{
  font-size: 20px;
  margin-top: 50px;
  line-height: 2;
}
#about-us-logo{
  margin: auto;
  padding-bottom: 0px;
}
#sinfo-logo{
  height: 500px;
  width: 550px;
  margin-top: 80px;
}
#masterclass{
  background-image: url(../src/assets/wallpaper05.jpeg);
  background-size: cover;
  position: absolute;
  width: 100%;
  top: 1600px;
  left: 0px;
  padding-bottom: 0px;
  height: 500px;
}
#masterclass h1{
  margin-top: 65px;
}
#masterclass-sub{
  margin: auto;
  margin-top: 10px;
  font-size: 18px;
}
#masterclass-svg{
  /* height: 100px; */
}
.masterclass-btn{
  margin: auto;
}
#countdown-timer{
  color: white;
  font-size: 24px;
}
.security-actions{
  position: relative;
  width: 100%;
  top: 1350px;
  padding-bottom: 50px;
}
#security-actions-heading{
  width: 100%;
  margin-top: 100px;
  border-left: 3px solid rgb(185, 185, 85);
  height: 70%;
  
}
#security-actions-heading h1{
  margin-left: 20px;
  margin-top: 50px;
  font-weight: 600;
  line-height: 1.5;
}
#security-actions-heading p {
  margin-left: 20px;
  line-height: 1.5;
  font-size: 20px;
}
#actions-button{
  width: 180px;
  margin-left: 20px;
}

.btn-action {
  border-radius: 0;
  padding-top: 12px;
  height: 50px;
  width: 100%;
  text-decoration: none;
  position: relative;
  border: 1px solid white;
  z-index: 20;
  transition: all 0.35s cubic-bezier(1,
      0,
      0,
      1);
  background-color: rgb(185, 185, 85);
}

.btn-action:hover {
  color: white;
}

.btn-color-action {
  border-color: rgb(243, 243, 40);
  color: white;
}

.btn-color-action::before {
  background: rgb(243, 243, 40);
}

.btn-color-action::after {
  background: rgb(41, 41, 40);
}

.btn-action::before,
.btn-action::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.35s cubic-bezier(1,
      0,
      0,
      1);
}

.btn-l-r-action::after {
  height: 100%;
  width: 0;
  top: 0;
}

.btn-l-r-action:hover::after {
  width: 100%;
}

.btn-l-r-action::after {
  left: 0;
}

.btnFillup-action {
  display: inline-block;
  padding: 16px;
  overflow: hidden;
  color: rgb(133, 133, 66);
  text-decoration: none;
  border: 1px solid rgb(243, 243, 40);
  border-radius: 3px;
  background-position: 0 -100%;
  background-repeat: repeat-x;
  transition: background-position 0.8s ease;
}

.btnFillup:hover {
  background-position: 100% 50%;
  border-color: rgb(133, 133, 66);
  color: white;
}

#banner-button :hover {
  background-color: rgb(133, 133, 66);
}
#action-btn-p{
  font-size: 18px;
}
#actions-img{
  height: 600px;
  width: 100%;
  border-radius: 15px;
}
#includedFeatures-main{
  position: relative;
  width: 100%;
  top: 1250px;
  margin-top: 120px;
  /* padding-bottom: 50px; */
}
#included-features-heading{
  margin: auto;
  width: 40%;
}
#includedFeatures-main p{
  font-size: 20px;
} 
#included-features-cards{
  width: 98%;
  margin: auto;
}
#included-features-card-item{
  height: 320px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
#included-features-card-item::before
#included-features-card-item::after{
    transition: all 0.5s ease-in-out
}
#included-features-card-item:hover{
  background-color: rgb(167, 167, 105);
  transform: scale(1.1);
}
#included-features-card-item:hover::after{
  background-color: rgb(175, 175, 114);
}

#card-item-inner{
  height: 70%;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
#card-image{
  text-align: center;
  margin-bottom: 20px;
  /* margin: auto; */
  /* height: 65px;
  width: 65px; */
}
#card-p{
  font-size: 16px;
  font-weight: 100;
}
#cards-lower{
  margin-top: 45px;
}
#includedFeatures-main {
  position: relative;
  width: 100%;
  top: 1250px;
  margin-top: 120px;
  /* padding-bottom: 50px; */
}
#ourClients-main {
  position: relative;
  width: 100%;
  top: 1300px;
  margin-top: 120px;
  /* padding-bottom: 50px; */
}
#client-pic-main{
  margin: auto;
}
#client-pic{
  height: 120px;
  width: 150px;
}
#productivity-main{
  position: absolute;
  width: 100%;
  top: 4150px;
  margin-top: 120px;
  left: 0px;
}

#productivity{
  background-image: url(../src/assets/wallpaper09.jpeg);
  background-size: cover;
  padding-top: 100px;
  height: 450px;
}
#productivity-captions{
  position: absolute;
  top: 150px;
}
#productivity-header{
  margin: auto;
  width: 60%;
}
#productivity-text{
  margin: auto;
  margin-top: 10px;
  font-size: 18px;
  width: 60%;
}
.productivity-btn{
  margin: auto;
  padding-bottom: 100px;

}
.btn {
  padding-top: 12px;
  height: 50px;
  width: 100%;
  text-decoration: none;
  position: relative;
  border: 1px solid white;
  z-index: 20;
  transition: all 0.35s cubic-bezier(1,
      0,
      0,
      1);
}

.btn:hover {
  color: white;
}

.btn-color {
  border-color: rgb(243, 243, 40);
  color: black;
  background-color: rgb(185, 185, 85);
}

.btn-color::before {
  background: rgb(243, 243, 40);
}

.btn-color::after {
  background: rgb(160, 160, 90);
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.35s cubic-bezier(1,
      1,
      1,
      1);
}

.btn-l-r::after {
  height: 100%;
  width: 0;
  top: 0;
}

.btn-l-r:hover::after {
  width: 100%;
}

.btn-l-r::after {
  left: 0;
}
.footer-btn{
  padding-bottom: 50px;
}
#productivity-svg{
  position: relative;
  bottom: 120px;
}
#blog-div{
  position: relative;
  top: 2050px;
}
/* blog */
.container-blog{
    display: flex;
      width: 100%;
      justify-content: space-evenly;
      flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.tag-teal {
  background-color: #47bcd4;
}

.tag-purple {
  background-color: #5e76bf;
}

.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-info h5 {
  margin: 0;
}

.user-info small {
  color: #545d7a;
}

/* end */
#testimonials-div{
  position: relative;
  top: 2100px;
}
.testimonials-section {
  width: 100%;
  min-height: 700px;
}
#main-testimonial-cards{
  margin-top: 50px;
}
#testimonial-card-main{
  border-radius: 15px;
  padding-bottom: 40px;
  background-color: #ffbfbf;
  color: #000000;
}
#testimonial-card-main-two {
  border-radius: 15px;
  padding-bottom: 40px;
  background-color: #ffddab;
  color: #000000;
}
#testimonial-card-main-three {
  border-radius: 15px;
  padding-bottom: 40px;
  background-color: #b3e9cb;
  color: #000000;
}
#testimonial-card-main-four {
  border-radius: 15px;
  padding-bottom: 40px;
  background-color: #99ceff;
  color: #000000;
}
.testimonial-inner {
  height: 70%;
  margin-top: 180px;
  margin-left: 50px;
}
#testimonial-cap{
  margin: auto;
  width: 50%;
}
#testimonial-pfp {
  border-radius: 50%;
  margin-top: 30px;
}
#testimonial-pic{
  height: 120px;
  width: 120px;
}
#testimonial-text{
  margin-top: 30px;
  width: 90%;
}
.test-p {
  font-weight: 100;
  font-size: 13px;
}

.testimonials-carousel {
  margin-top: 80px;
}
.main-footer {
  position: absolute;
  top: 6300px;
  margin-top: 30px;
  padding-top: 20px;
  background-color: #22211e;
  font-weight: 100;
  width: 100%;
  left: 0px;
}

#footer-div {
  margin-top: 30px;
}

#footer-inner {
  margin-top: 40px;

}

#border-text {
  margin-top: 20px;
}

#newsletter-box {
  width: 100%;
}

.newsletter-main i {
  position: relative;
  right: -50px;
  bottom: 30px;
}

.footer-top-box {
  margin-bottom: 30px;
}

.footer-top-box h3 {
  color: #ffffff;
  position: relative;
  font-size: 20px;
}

.footer-top-box h3::before {
  border-bottom: 2px solid rgb(133, 133, 66);
  content: "";
  height: 3px;
  width: 50%;
  position: absolute;
  bottom: 3px;
  left: 0px;
}

.list-time {
  margin-top: 15px;
}

.footer-top-box .list-time li {
  color: #ffffff;
  font-size: 16px;
  display: block;
  float: none;
}

.footer-top-box p {
  padding-bottom: 15px;
  color: #cccccc;
}

.footer-top-box ul {
  display: inline-block;
}

.footer-top-box ul li {
  float: left;
  margin-right: 5px;
  list-style-type: none;
}

.footer-top-box ul li a {
  color: #ffffff;
  display: inline-block;
  width: 36px;
  height: 36px;
  border: 2px solid #ffffff;
  text-align: center;
  line-height: 32px;
}

.footer-top-box ul li a:hover {
  color: rgb(133, 133, 66);
  border-color: rgb(133, 133, 66);
}

.footer-top-box ul {
  padding-left: 0px;
}

#footer-lower p {
  font-size: 13px;
  font-weight: 300;
}

#border-text li {
  /* list-style-type: none; */
}

#border-text ul {
  padding-left: 0px;
}

.footer-link-contact h4 {
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  position: relative;
  font-weight: 700;
}

.footer-link-contact h4::before {
  border-bottom: 3px solid rgb(133, 133, 66);
  content: "";
  height: 3px;
  width: 100%;
  bottom: 3px;
  left: 0px;
}

.footer-link-contact ul li {
  margin-bottom: 12px;
}

.footer-link-contact ul li i {
  left: 0;
  top: 5px;
}

.footer-link-contact ul li p {
  color: #cccccc;
}

.footer-link-contact ul li p {
  font-size: 16px;
  color: #cccccc;
  font-weight: 300;
}

.footer-link-contact ul li p a:hover {
  color: rgb(133, 133, 66);
}

#footer-contact {
  width: 100%;
}


































main {
  flex: 1;
}

.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
  border-radius: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps>div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps>div.active {
  border-bottom: 0.2rem solid #0d6efd;
  color: #0d6efd;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}

.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}

.active-cont {
  margin-left: 240px;
}

.active-nav {
  left: 0;
}

.text-bold {
  font-weight: bold;
}

/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}

.full-box header,
.full-box footer {
  display: none;
}

.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}

.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}

.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

button.thumbnail {
  padding: 0;
}
#hero-background{
  
}
#contact-nav{
  margin-right: 70px;
}
.mt-20{
  margin-top: 20px;;
}
#basic-nav-dropdown{
  color: white;
}
#admin-nav-dropdown{
  color:white;
}
#main-container{
  max-width: 1300px;
}
#featured-products{
  margin-top: 100px;
}
#main-products{
  margin-top: 100px;
}
product-details-tab {
  margin-bottom: 5rem
}

.product-details-tab .nav.nav-pills .nav-link {
  color: #333333;
  font-size: 1.6rem;
  padding: .55rem 3rem;
  border-bottom-width: .2rem;
  text-transform: capitalize
}

.product-details-tab .nav.nav-pills .nav-link:hover,
.product-details-tab .nav.nav-pills .nav-link:focus {
  color: #0d6efd;
  border-bottom-color: #0d6efd
}

.product-details-tab .nav.nav-pills .nav-item+.nav-item {
  margin-left: 2rem
}

.product-details-tab .tab-content {
  border: .1rem solid #dadada;
  margin-top: -.1rem;
  border-radius: .3rem
}

.product-details-tab .tab-content .tab-pane {
  padding: 2.7rem 3rem
}
.tab-content {
  border: none
}
.tab-content .tab-pane {
  padding: 0
}
.tab-content .tab-pane {
  padding: 2rem 0 0
}
.tab-content-border {
  border: .1rem solid #d7d7d7;
  border-radius: .3rem;
  border-top-left-radius: 0;
  border-top-width: 0
}

.justify-content-center+.tab-content-border {
  border-top-left-radius: .3rem
}

.tab-pane {
  padding: 1.4rem 2.2rem
}

.tab-pane p:last-child {
  margin-bottom: 0
}

.nav.nav-pills .nav-link {
  color: #777;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: -.01em;
  padding: .45rem 1rem;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-bottom: .1rem solid transparent;
  background-color: transparent;
  transition: all .35s ease
}

.nav.nav-pills .nav-link:hover,
.nav.nav-pills .nav-link:focus {
  color: #0d6efd
}

.nav.nav-pills .nav-link:focus {
  outline: none !important
}

.nav.nav-pills .nav-item+.nav-item {
  margin-left: 1rem
}

.nav.nav-pills .nav-item.show .nav-link,
.nav.nav-pills .nav-item .nav-link.active {
  color: #0d6efd;
  border-color: #3f8cff;
  border-bottom-color: #0d6efd
}

.nav-pills+.tab-content .tab-pane {
  padding: 1.4rem 0
}

.nav-pills+.tab-content .tab-pane p:last-child {
  margin-bottom: 0
}

.tabs-vertical {
  display: flex;
  align-items: flex-start;
  align-items: stretch
}

.tabs-vertical .tab-content-border {
  border-top-width: .1rem;
  border-left-width: 0;
  border-bottom-left-radius: 0
}
.nav-pills+.tab-content .tab-pane {
  padding: 1.4rem 0
}

.nav-pills+.tab-content .tab-pane p:last-child {
  margin-bottom: 0
}

.tabs-vertical {
  display: flex;
  align-items: flex-start;
  align-items: stretch
}

.tabs-vertical .tab-content-border {
  border-top-width: .1rem;
  border-left-width: 0;
  border-bottom-left-radius: 0
}

.tabs-vertical .nav {
  flex-shrink: 0
}

.tabs-vertical .nav .nav-link {
  min-width: 100px
}

.tabs-vertical .nav.nav-tabs {
  border-bottom-width: 0;
  border-right-width: .1rem
}

.tabs-vertical .nav.nav-tabs .nav-link {
  border-top-left-radius: .3rem;
  border-top-right-radius: 0;
  border-bottom-left-radius: .3rem
}

.tabs-vertical .nav.nav-tabs .nav-item {
  margin-bottom: 0;
  margin-right: -1px
}

.tabs-vertical .nav.nav-tabs .nav-item+.nav-item {
  margin-left: 0;
  margin-top: 1px
}

.tabs-vertical .nav.nav-tabs .nav-item.show .nav-link,
.tabs-vertical .nav.nav-tabs .nav-item .nav-link.active {
  border-color: #0d6efd;
  border-right-color: transparent
}

.tabs-vertical .nav.nav-tabs.nav-tabs-bg .nav-link:not(.active) {
  border-color: #ebebeb #d7d7d7 #ebebeb #ebebeb;
  background-color: #fafafa
}

.tab-content.tab-content-carousel>.tab-pane {
  display: block;
  visibility: hidden;
  height: 0 !important
}

.tab-content.tab-content-carousel>.tab-pane:not(.active) {
  overflow: hidden !important
}

.tab-content.tab-content-carousel>.active {
  height: auto !important;
  visibility: visible
}

.nav.nav-border-anim .nav-link {
  position: relative;
  border-bottom: none
}

.nav.nav-border-anim .nav-link:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .1rem;
  background-color: #0d6efd;
  transform-origin: right center;
  transform: scale(0, 1);
  transition: transform .3s ease
}

.form-tab .nav.nav-border-anim .nav-link:before {
  height: .2rem
}

.nav.nav-border-anim .nav-link.active:before {
  transform-origin: left center;
  transform: scale(1, 1)
}

.nav.nav-border-anim.nav-pills-mobile .nav-link:before {
  height: .2rem
}
.product-details-tab .tab-content {
  border: .1rem solid #dadada;
  margin-top: -.1rem;
  border-radius: .3rem
}

.product-details-tab .tab-content .tab-pane {
  padding: 2.7rem 3rem
}

.tab-content {
  border: none
}

.product-details-extended .tab-content .tab-pane {
  padding: 0
}
#category-item{
  height: 260px;
  margin-bottom: 6vh;
}
#category-inner{
  height: 230px
}
.phones-and-tab{
  background-size: cover;
}
#category-inner img{
  transition: .3s;
}
#category-inner img:hover{
  transform: translateY(-15px);
}
#order-button{
  border-radius: 0;
}
#search-row li{
  list-style-type: none;
}
#signin-button{
  border-radius: 0;
}
#button-search{
  background-color: transparent;
  width: 40px;
  color: white;
  border-bottom: 1px solid white;
  border-top: none;
  border-right: none;
  border-left: none;
}
#button-search :hover{
}
#mail-logo{
  color:#0d6efd;
}
.theme-color{
  color: rgb(133, 133, 66);
}
.nav-link{
  cursor: pointer;
}
#carousel-caption{
  margin-bottom: 300px;
}
#cate-gory{
  height: 300px;
  background: tan
}
.bold-text{
  font-weight: 500;
}
#main-banner{
  background-image: url(./assets/hero-6.png);
  background-size: contain;
  background-attachment: fixed;
}
#about-row{
  font-size: 14px;
}
#container-marketing-section{
  margin-top: 50px;
}
.team-circle{
  height: 300px;
  width: 300px;
  border: 10px solid black;
  border-radius: 50%;
}
.team-main{
  margin-top: 50px;;
}
















/******************  MOBILE  *********************/

@media screen and (min-width: 588.5px) and (max-width: 650px) {
  /* change max later */
#main-bg{
  width: 100%;
}
#search-outer{
  width: 150px;
}
.navbar-light .navbar-toggler-icon{
  background-image: url(../src/assets/toggler.png);
}
#basic-navbar-nav {
  background-color: #140944;
}
.banner-right{
  width: 100%;
}
#banner-captions{
  text-align: center;
  margin: auto;
  margin-top: 200px;
  width: 100%;
}
#banner-button-container{
  margin: auto;
  padding-top: 15px;
}
.about-us-left{
  width: 100%;
}
.about-us-right{
  display: none;
}
#masterclass{
  height: 500px;
}
#masterclass-head{
  margin: auto;
  width: 70%;
}
#masterclass-head h1{
  font-size: 34px
}
.security-actions{
  top: 750px;
}
#security-row{
  display: block;
  margin-top: 750px;
  /* border: 1px solid black; */
}
#security-actions-heading-img{
  width: 90%;
  margin: auto;
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
  bottom: 400px;
  
  /* display: none; */
}
#security-actions-heading{
  position: relative;
  top: 600px;
}
#included-features-heading{
  width: 60%;
}
#includedFeatures-main{
  top: 750px;
}
.included-features-row{
  display: block;
}
#included-features-card-item{
  width: 95%;
  margin: auto;
  margin-bottom: 50px;
}
#card-p{
  font-size: 18px;
}
#productivity-main{
  top: 6850px
}
#productivity-captions{
  top: 55px;
}
#ourClients-main{
  top: 750px;
}
.container-blog{
  display: grid;
}
#blog-div{
  top: 1380px;
}
.card{
  width: 95%;
  margin-bottom: 20px;
}
.container-blog{
  margin: auto;
  padding-left: 15px;
}
#testimonials-div{
  top: 1450px
}
#main-testimonial-cards{
  display: block;
}
#testimonial-text{
  margin: auto;
  font-size: 18px;
}
#testimonial-card-main{
  width: 90%;
  margin-bottom: 30px;
  margin-left: 28px;
}
#testimonial-card-main-four {
  width: 90%;
  margin-bottom: 30px;
  margin-left: 28px;
}
#testimonial-card-main-two {
  width: 90%;
  margin-bottom: 30px;
  margin-left: 28px;
}
#testimonial-card-main-three {
  width: 90%;
  margin-bottom: 30px;
  margin-left: 28px;
}
.main-footer {
  top: 11400px;
}
#footer-inner {
  display: block;
}

#footer-lower {
  display: block;
}
}


/* iphone xr and iphone 11 */
@media screen and (min-width: 413.5px) and (max-width: 420px) {
#main-bg {
  width: 100%;
  }
.main-bg{
  height: 900px;
}
#basic-navbar-nav{
  background-color: #140944;
}
  #search-outer {
    width: 150px;
    /* margin-right: 100px; */
  }
  #search-bar{
    width: 180px;
  }
  #nav-right{
    position: absolute;
    left: 185px;
    width: 55%;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url(../src/assets/toggler.png);
  }

  .banner-right {
    width: 100%;
  }
  #main-heading{
    margin-left: 15px;
  }
  #main-heading-p{
    margin: auto;
    width: 60%;
  }
  #main-heading-h2{
    width: 90%;
    margin: auto;

  }
  #banner-captions {
    text-align: center;
    margin: auto;
    margin-top: 200px;
    width: 100%;
  }

  #banner-button-container {
    margin: auto;
    padding-top: 15px;
  }
  #about-us-main{
    top: 750px;
  }
  .about-us-left {
    width: 100%;
  }

  .about-us-right {
    display: none;
  }

  #masterclass {
    top: 1900px;
    height: 610px;
  }

  #masterclass-head {
    margin: auto;
    width: 70%;
  }

  #masterclass-head h1 {
    font-size: 34px
  }

  .security-actions {
    top: 750px;
  }

  #security-row {
    display: block;
    margin-top: 750px;
    /* border: 1px solid black; */
  }

  #security-actions-heading-img {
    width: 90%;
    margin: auto;
    margin-left: 20px;
    margin-top: 30px;
    position: relative;
    bottom: 400px;

    /* display: none; */
  }
  #actions-img{
    height: 400px;
  }

  #security-actions-heading {
    position: relative;
    top: 400px;
  }

  #included-features-heading {
    width: 60%;
  }

  #includedFeatures-main {
    top: 650px;
  }

  .included-features-row {
    display: block;
  }

  #included-features-card-item {
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
  }

  #card-p {
    font-size: 18px;
  }

  #productivity-main {
    top: 7000px
  }
  #productivity{
    height: 550px;
  }
  #productivity-captions {
    top: 55px;
  }

  #ourClients-main {
    top: 650px;
  }

  .container-blog {
    display: grid;
  }

  #blog-div {
    top: 1380px;
  }

  .card {
    width: 95%;
    margin-bottom: 20px;
  }

  .container-blog {
    margin: auto;
    padding-left: 15px;
  }

  #testimonials-div {
    top: 1450px
  }

  #main-testimonial-cards {
    display: block;
    margin-right: 10px;
  }

  #testimonial-text {
    margin: auto;
    font-size: 18px;
  }

  #testimonial-card-main {
    width: 90%;
    margin-bottom: 30px;
    margin-left: 28px;
  }

  #testimonial-card-main-four {
    width: 90%;
    margin-bottom: 30px;
    margin-left: 28px;
  }

  #testimonial-card-main-two {
    width: 90%;
    margin-bottom: 30px;
    margin-left: 28px;
  }

  #testimonial-card-main-three {
    width: 90%;
    margin-bottom: 30px;
    margin-left: 28px;
  }

  .main-footer {
    top: 12000px;
  }
  #footer-inner{
    display: block;
  }
  #footer-lower{
    display: block;
  }

}